body {
  font-family: sans-serif;
  background: url("assets/bg.jpg") no-repeat left top/cover fixed;
  margin: 0;
  padding: 20px;
}
h1 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.4rem;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
}

select {
  border-color: #ccc;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  margin: 10px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  /* background-color: #006; */
  background: #2e5fcf
    linear-gradient(
      140deg,
      rgba(46, 95, 207, 1) 0%,
      rgba(134, 130, 232, 1) 50%,
      rgba(206, 198, 213, 1) 100%
    );
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

#result {
  margin-top: 20px;
}

img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  padding: 20px;
  color: rgba(255, 255, 255, 0.6);
}
footer a {
  color: #fff;
}
.copy {
  font-size: 0.75rem;
}

.btn-x {
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin: 15px 0 5px;
}
.small-text {
  font-size: 12px;
  color: #555;
}
